@mixin Center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin Panel {
    border: 1px solid var(--secondary);
    padding: var(--small);
    display: flex;
    flex-direction: column;
    gap: var(--small);
}

@mixin Inner-Wrapper {
    border-radius: var(--small);
    background-color: var(--secondary);
    padding: var(--small);
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none
    }
}

@mixin ddw-normal {
    width: 50%;
    height: 1.25vw;
    border-radius: var(--small);
    background-color: var(--primary);
    color: var(--secondary);
    font-size: var(--medium);
    font-weight: 700;
    padding-inline: var(--small);
}

@mixin button {

    padding-inline: var(--small);

    border: none;
    border-radius: var(--small);


    font-size: var(--large);
    text-align: center;
    outline: none;
}

@mixin Scroll-noBar {
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none
    }
}

@mixin Clickable {
    cursor: pointer;

    &:hover {
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(2px);
    }
}

@mixin Clickable-v2 {
    cursor: pointer;

    &:active {
        transform: translateY(2px);
    }
}