:root{
      --primary: #25202c;
      --secondary: #D6DAD1;
      --accent: #22a497;
      
      --selected: #128478;
      --selectable: #09554D;
      
      --danger-action: #71070D;

      --color-picked: #ffffff;
}