.panel-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &_logo{
    p{
      color: var(--secondary);
      text-transform: uppercase;
      font-family: var(--fnt-global);
      font-size: var(--large);
    }
  }

  &_actions{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    svg{

      @include Clickable;

      height: var(--xlarge);
      width: var(--xlarge);
      margin-right: var(--small);
      fill: var(--secondary);

      &:last-child{
        margin-right: 0;
      }
    }
  }
}