.panel-camera {
    overflow: hidden;

    padding: var(--small);
    color: var(--secondary);

    &_radios {
        border: 1px solid var(--secondary);
        padding: var(--small);
        border-radius: var(--small);
        margin-bottom: var(--small);

        &-option {

            fieldset {
                border: none;
            }

            &-radio {
                display: flex;
                flex-direction: row;
                align-items: center;

                input {
                    margin-right: var(--small);
                }

                label {
                    font-family: var(--fnt-global);
                    font-size: var(--medium);
                    text-transform: uppercase;

                }

                &:nth-child(1) {
                    margin-bottom: var(--small);
                }
            }
        }

    }


    &_presets {
        @include Inner_Wrapper;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: var(--small);

        &-preset {
            @include Clickable-v2;
            margin-bottom: var(--small);

            background-color: var(--primary);
            color: var(--secondary);
            width: 80%;
            height: 1.5rem;
            border-radius: var(--xsmall);

            box-shadow: none;
            font-family: var(--fnt-global);
            font-size: var(--medium);
            font-weight: bolder;

            border: none;


            &:nth-child(3) {
                margin-bottom: 0;
            }
        }
    }
}