.panel-material {

    overflow: hidden;
    display: flex;
    flex-direction: column;

    .clr-field {

        button {
            border-top-right-radius: var(--small);
            border-bottom-right-radius: var(--small);
            height: fit-content;
        }
    }



    &_color {
        @include Clickable-v2;
        outline: none;
        border: none;
        border-radius: var(--small);
        padding: var(--small);

        height: 2rem;
        width: 100%;
        background: linear-gradient(to left, var(--color-picked) 20%, #ffffff);

        font-size: var(--xlarge);
        text-transform: uppercase;
        font-weight: bolder;

        margin-bottom: 0.8vh !important; /// Bypass the original css 
    }


    &_radios {
        @include Inner-Wrapper;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: var(--small);
        grid-row-gap: var(--small);

        height: 16vh;

        overflow: scroll;

        font-size: var(--large);

        margin-bottom: 0.8vh;

        &-option {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            background-color: var(--primary);
            color: var(--secondary);

            padding: var(--small);
            border-radius: var(--small);

            width: 100%;
            height: 8rem;

            overflow: hidden;

            p {
                font-weight: bolder;
                text-align: center;
                margin-bottom: var(--small);
                font-size: var(--large);
                margin-left: var(--xsmall)
            }

            fieldset {
                border: none;
                height: 70%;
                @include Scroll-noBar;
            }

            &-radio {
                padding: var(--xsmall);
                margin-left: var(--small);

                display: flex;
                flex-direction: row;
                align-items: center;

                width: 100%;

                margin-bottom: var(--xsmall);

                &:last-child {
                    margin-bottom: 0;
                }

                input {
                    margin-right: var(--small);
                    accent-color: var(--accent);
                }

                label {
                    text-transform: uppercase;
                    font-size: var(--medium);
                }
            }
        }
    }


    &_checkboxes {
        @include Inner_Wrapper;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: var(--small);
        grid-row-gap: var(--small);

        overflow: scroll;

        font-size: var(--large);

        margin-bottom: 0.8vh;

        height: 16vh;

        &-option {
            display: flex;
            flex-direction: row;
            align-items: center;

            .checkbox {
                @include Clickable-v2;
                margin-right: var(--small);
            }

            label {
                font-size: var(--medium);
                font-weight: 700;
                color: var(--primary);
                text-transform: uppercase;
            }
        }
    }

    &_sliders {
        @include Inner-Wrapper;
        margin-bottom: 0.8vh;

        height: 30vh;
        overflow: scroll;

        &-slider {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            margin-bottom: var(--small);

            padding-inline: var(--small);

            label {
                font-size: var(--medium);
                font-weight: 700;
                margin-right: var(--medium);
                text-transform: uppercase;
            }

            .panel-material_slider-input {
                margin-top: 0.5vh;
                margin-right: var(--small);
                width: 7vw;
                accent-color: var(--accent);
                height: var(--medium);
            }

            .panel-material_slider-value {
                margin-top: 0.4vh;
                font-size: var(--medium);
                font-weight: 700;
                width: 1.6vw;
                background: transparent;
                border: none;
                color: var(--primary);
            }

            .slider {
                display: flex;
                flex-direction: row;
            }
        }
    }
}