.panel-renderer{
    overflow: hidden;

    &_info{
        @include Inner-Wrapper;
        color: var(--primary);
        height: 100%;
        
        h2{
            font-family: var(--fnt-global);
            font-size: var(--medium);
            margin-bottom: var(--xsmall);
        }

        p{
            font-family: var(--fnt-global);
            font-size: var(--medium);
            text-indent: var(--large);

            &:nth-child(4){
                margin-bottom: var(--small);
            }
        }
    }
}