.panel-options {
overflow: hidden;

    &_general {
        @include Inner-Wrapper;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: var(--small);

        &-rename {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            margin-bottom: var(--small);

            label {
                font-size: 0.8vw;
                font-weight: bold;
                margin-right: var(--small);
            }

            input {
                width: 80%;
                height: 1.2vw;
                border-radius: var(--small);
                border: none;

                background-color: var(--primary);
                color: var(--secondary);
                padding-inline: var(--small);
            }

        }

        &-delete {
            @include Clickable;
            width: 80%;
            border-radius: var(--small);
            border: none;
            height: 1.8vw;
            font-size: var(--medium);
            background-color: var(--danger-action);
            color: var(--secondary);
        }
    }

    &_shape {
        @include Inner-Wrapper;
        height: 10vh;

        p {
            font-size: var(--large);
            font-weight: bold;
            margin-right: var(--small);

            span{
                font-size: var(--large);
                font-weight: normal;
                margin-left: 1vw;
                display: block;

            }
        }
    }
}