.panel-texture {

    overflow: scroll;


    &::-webkit-scrollbar {
        display: none
    }

    h2{
        font-size: var(--large);
        margin-bottom: var(--small);
        color: var(--secondary);
    }

    &_matcaps,
    &_normals,
    &_bumps, 
    &_hdris {
        
        border-radius: var(--small);
        background-color: var(--secondary);
        padding: var(--small);
        width: 100%;
        height: 16vh;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: var(--small);
        grid-row-gap: var(--small);
        place-items: center;

        margin-bottom: var(--small);


        &-matcap, &-normal, &-hdri, &-bump {
            @include Clickable;
            height: 1.5vw;
            width: 1.5vw;
            border-radius: 50%;

            // filter: drop-shadow(3px 3px 1px #000000); /// Massive Improvement of Performance if you remove shadow styling
        }

        &-hdri{
            border: var(--small) solid var(--primary);
            background-color: var(--secondary);
        }
    }
}